$section-border-color: #be0116;
$main-bg-color: rgb(240, 240, 221);
$body-bg-color: #f37767;
$title-bg-color: #fbdd15;
$text-color: #222;
$active-link-color: #8e0039;
$body-font: 'Averia Libre', cursive;
$title-font: 'Amarante', cursive;